body {
	background-color: white;
	color: black;
	font-family: Meiryo;
	text-align: center;
}
.set {
	background: rgb(43, 219, 247);
	width: 300px;
	padding: 10px;
	border: 1px solid #cccccc;
	margin: 30px auto;
}

.q {
	background: rgb(43, 219, 247);
	width: 300px;
	padding: 10px;
	border: 1px solid #cccccc;
	margin: 30px auto;
	color: white;
	font-size: 70px;
}

.a {
	background: rgb(43, 219, 247);
	font-size: 20px;
}
