<!DOCTYPE html>
<html>
<head>
    <title>anzan</title>
    <link rel="stylesheet" 
        type="text/css"
        href="{{url_for('static', filename='style.css')}}">
</head>
{% block body %}
<div class='set'>
<form action='/play' method="GET">
    user: <input id='user' type='text' value='yohei' size=20><br>
    len: <input id='len' type='number' value=5 step=1 size=20><br>
    <input id="auto" type="checkbox"> auto <br>
    speed: <input id='intervalSec' type='number' value=1.0 step=0.1 size=20><br>
    digit1: <input id='digit1' type='number' value=3 step=1 size=20><br>
    digit1_rate: <input id='digit1_rate' type='number' value=1.0 step=0.1 size=20><br>
    improve: <input id='improve' type='text' value='speed' size=20><br>
    <input type="submit" value="start" onclick="start_clicked()"/><br>
</form>
</div>


<details>
    <summary>記録</summary>
    <input type="button" value="show" onclick="show_chart()" /><br>
    <canvas id="chart" width="16" height="9"></canvas>
</details>
<details>
    <summary>ログイン</summary>
    <details>
        <summary>登録</summary>
    </details>
</details>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>      

<script>
// global
var len;
var intervalSec;
var intervalMS;
var digi1;
var digit1_rate;
var correct;

// ユーザー設定を反映
get_setting()

function get_setting(){
    $.getJSON('/get_setting?user_id=0', (data) => {
        var ctx = document.getElementById("chart");
        console.log(data['len'])
    })
}

function start_clicked(){
    len = document.getElementById('len').value
    digit1 = document.getElementById('digit1').value
    digit1_rate = document.getElementById('digit1_rate').value
    intervalSec = document.getElementById('intervalSec').value
    auto = document.getElementById('auto').checked
    improve = document.getElementById('improve').value
    console.log(len)
    console.log(auto)
    
    // insert setting
    user_id = 0
    $.ajax({
        type: 'POST',
        url: '/setting',
        data: JSON.stringify ({
            user_id: user_id,
            len: len,
            intervalSec: intervalSec,
            digit1: digit1,
            digit1_rate: digit1_rate,
            auto: auto,
            improve: improve,
        }), 
        success: function(data) { },
        contentType: "application/json",
        dataType: 'json'
        });
}

function show_chart(){
    // 可視化
    $.getJSON('/user_data', (data) => {
        var ctx = document.getElementById("chart");
        var type = 'line'
        var data =  {
                labels: data['xticklabels'],
                datasets: [
                {
                    label: 'play_cnt',
                    data: data['play_cnt'],
                    borderColor: "rgba(255,0,0,1)",
                    backgroundColor: "rgba(0,0,0,0)"
                },
                {
                    label: 'correct_cnt',
                    data: data['correct_cnt'],
                    borderColor: "rgba(0,0,255,1)",
                    backgroundColor: "rgba(0,0,0,0)"
                }
                ],
            },
        options= {
            title: {
                display: true,
                text: 'title'
            },
            /*
            scales: {
                yAxes: [{
                    ticks: {
                    suggestedMax: 40,
                    suggestedMin: 0,
                    stepSize: 10,
                    callback: function(value, index, values){
                        return  value +  '度'
                    }
                    }
                }]
            },
            */
        }

        var myChart = new Chart(ctx, {
            type: type,
            data: data,
            options: options
        });
    })
}
//　メモ欄　ジョギング後 調子いい気がするとか
// カウントダウン　徐々に色が暗くなって没入感だせるといいかも
</script>
{% endblock %}
</html>