{% block body %}
user: <input id='user' type='text' value='yohei' size=20><br>
len: <input id='len' type='number' value=5 size=20><br>
<input type="checkbox" id="auto"> auto <br>
speed: <input id='intervalSec' type='number' value=1.0 size=20><br>
digit1: <input id='digit1' type='number' value=3 size=20><br>
digit1_rate: <input id='digit1_rate' type='number' value=1.0 size=20><br>
improve: <input id='improve' type='text' value='speed' size=20><br>
<input type="button" value="start" onclick="start_clicked()" /><br>

<p><font id='num' color='white'>999</font></p>

<p id='ans1' onclick="send_clicked(this)"></p>
<p id='ans2' onclick="send_clicked(this)"></p>
<p id='ans3' onclick="send_clicked(this)"></p>

<p id='judge'></p>
<p id='correct'></p>

<details>
    <summary>記録</summary>
    <input type="button" value="show" onclick="show_chart()" /><br>
    <canvas id="chart" width="16" height="9"></canvas>
</details>
<details>
    <summary>ログイン</summary>
    <details>
        <summary>登録</summary>
    </details>
</details>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>      

<script>
// global
var len;
var intervalSec;
var intervalMS;
var digi1;
var digit1_rate;
var correct;

// ユーザー設定を反映

// event
function start_clicked(){
    len = parseInt(document.getElementById('len').value)
    intervalSec = parseFloat(document.getElementById('intervalSec').value)
    intervalMS = intervalSec * 1000
    digit1 = parseInt(document.getElementById('digit1').value)
    digit2 = digit1 - 1
    digit1_rate = parseFloat(document.getElementById('digit1_rate').value)

    document.getElementById('correct').innerHTML = ''
    document.getElementById('judge').innerHTML = ''
    document.getElementById('num').innerHTML = ''
    document.getElementById('num').color = 'black'

    function doSomethingLoop(i, maxCount) {
        if (i <= maxCount) {
            doSomething(array[i])
            setTimeout(function(){doSomethingLoop(++i, maxCount)}, intervalMS);
        } else {
            // 終了時の処理
            at_end()
        }
    }

    function doSomething(value) {
        document.getElementById('num').innerHTML = value
    }

    function at_end() {
            document.getElementById('num').color = 'white'
            document.getElementById('num').innerHTML = 999

            // 回答の選択肢を表示
            // 正解にノイズ付与
            ans_array = new Array()
            for (i=0;i<3;i++){                
                tmp = Math.round(Math.random()*10*0.4) - 2   // -2 ~ 2
                if (tmp==0){ // 正解と一致させない
                    if (Math.random()>0.5){
                        tmp = 1
                    } else {
                        tmp = -1
                    }
                }
                value = correct + tmp
                flg = false
                for (k=0;k<i;k++){  // 他候補と一致するか
                    if (value == ans_array[k]){
                        flg = true
                    }
                }
                if (flg){ // 
                    i--; // 戻ってもう一度
                } else {
                    ans_array.push(value);
                }
                console.log(i)
            }
            // 一つだけ正解にする
            index = Math.floor(Math.random() * 3) // 0<=random<1
            ans_array[index] = correct
            // 表示
            document.getElementById('ans1').innerHTML = ans_array[0]
            document.getElementById('ans2').innerHTML = ans_array[1]
            document.getElementById('ans3').innerHTML = ans_array[2]
    }

    var array = new Array();

    for (i=0; i < len; i++) {
        tmp = Math.random()
        if (tmp <= digit1_rate){ // 桁指定
            digit = digit1
        } else {
            digit = digit2
        }
        value = 0
        for (k=digit; k>0; k--){ // 各桁の数値を出す。randomは0.0..も含まれるのでこうしないと桁数制御しづらい
            tmp = Math.ceil(Math.random()*10) - 1; // 0-9
            if (tmp==0){
                if (k==digit){ // 最上位桁
                    tmp = 1
                }
            }
            value += tmp * Math.pow(10, k-1)
        }
        array.push(value)
    }
    correct = array.reduceRight(function(a,b){return a + b;});

    doSomethingLoop(0, len-1)
}


function send_clicked(element) {
    // mysqlのdatetime/postgreのtimestamp型のstringへ
    function Date_to_String(date){  
        y = date.getFullYear()
        month = date.getMonth() + 1
        d = date.getDate()
        h = date.getHours()
        minute = date.getMinutes()
        s = date.getSeconds()
        ms = date.getMilliseconds()
        string = y+'-'+month+'-'+d+' '+h+':'+minute+':'+s
        return string
    }

    // 回答取得
    ans = element.innerHTML
    ans = parseInt(ans, 10)

    // 正誤判定
    judge_str = 'Wrong'
    judge = 0
    if (ans==correct){
        judge_str = 'Correct'
        judge = 1
    }

    // 結果表示
    document.getElementById('judge').innerHTML = judge_str
    if (judge==0){
        document.getElementById('correct').innerHTML = correct
    }

    // 結果によって難易度変更
    if (document.getElementById('auto').checked){
        improve = document.getElementById('improve').value
        switch (judge){
            case 1: // 正解
                switch (improve){
                    case 'speed': // 速く
                        intervalSec = intervalSec - 0.1
                        break;
                    case 'digit': // 桁を多く
                        if (digit1_rate>=1){ // すでに配分がmaxなら1桁上げる
                            digit1 = digit1 + 1
                            digit1_rate = 0.2
                        } else { // 配分を上げる
                            digit1_rate = digit1_rate + 0.1
                        }
                        break;
                }
                break;
            case 0: // 不正解
                switch (improve){
                    case 'speed': // スピードは保持。桁を少なく
                        if (digit1_rate >= 0.2){ // 桁が多い数字の配分を下げる
                            digit1_rate = digit1_rate - 0.1
                        } else { // 十分配分が低い場合、桁を下げる
                            digit1 = digit1 - 1
                            digit1_rate = 1.0
                        }
                        break;
                    case 'digit': // 遅く
                        intervalSec = intervalSec + 0.1                    
                        break;
                }
                break;
        }
        document.getElementById('intervalSec').value = intervalSec
        document.getElementById('digit1').value
        document.getElementById('digit1_rate').value = digit1_rate
    }

    // dbへ送信
    user_id = 0
    date = new Date()
    t = Date_to_String(date)

    // ユーザーid, timestamp, 桁数, interval, 個数, 回答, 正答, 判定
    // flaskにjsonを渡す
    $.ajax({
    type: 'POST',
    url: '/insert',
    data: JSON.stringify ({
        user_id: user_id,
        t: t,
        digit: digit1,
        intervalSec: intervalSec,
        len: len,
        ans: ans,
        correct: correct,
        judge: judge,
    }), 
    success: function(data) { },
    contentType: "application/json",
    dataType: 'json'
    });    
}

function show_chart(){
    // 可視化
    $.getJSON('/user_data', (data) => {
        var ctx = document.getElementById("chart");
        var type = 'line'
        var data =  {
                labels: data['xticklabels'],
                datasets: [
                {
                    label: 'play_cnt',
                    data: data['play_cnt'],
                    borderColor: "rgba(255,0,0,1)",
                    backgroundColor: "rgba(0,0,0,0)"
                },
                {
                    label: 'correct_cnt',
                    data: data['correct_cnt'],
                    borderColor: "rgba(0,0,255,1)",
                    backgroundColor: "rgba(0,0,0,0)"
                }
                ],
            },
        options= {
            title: {
                display: true,
                text: 'title'
            },
            /*
            scales: {
                yAxes: [{
                    ticks: {
                    suggestedMax: 40,
                    suggestedMin: 0,
                    stepSize: 10,
                    callback: function(value, index, values){
                        return  value +  '度'
                    }
                    }
                }]
            },
            */
        }

        var myChart = new Chart(ctx, {
            type: type,
            data: data,
            options: options
        });
    })
}
//　メモ欄　ジョギング後 調子いい気がするとか
// カウントダウン　徐々に色が暗くなって没入感だせるといいかも
</script>

{% endblock %}