<!DOCTYPE html>
<html>
<head>
    <title>anzan</title>
    <link rel="stylesheet" 
        type="text/css"
        href="{{url_for('static', filename='style.css')}}">
</head>
{% block body %}
<div class='outer'>
    <div class='q'>
    <p><font id='num'></font></p>
    </div>
</div>
<input type='button' id='start' value='START' style="width: 600px;" onclick="start_clicked()"><br>
<input id='ans' type='number' style="width: 600px;"><br>
<details>
    <summary><font color='grey'>SETTING</font></summary>
    <input type="button" id="auto" value="auto" onclick="auto_clicked()" /><br>
    <div class='set'>
        user: <input id='user' type='text' value='yohei' size=20><br>
        len: <input id='len' type='number' value=10 step=1 size=20><br>
        speed: <input id='intervalSec' type='number' value=0.5 step=0.1 size=20><br>
        speed_step: <input id='speed_step' type='number' value=0.1 step=0.05 size=20><br>
        digit1: <input id='digit1' type='number' value=3 step=1 size=20><br>
        digit1_rate: <input id='digit1_rate' type='number' value=1.0 step=0.1 size=20><br>
        improve: <input id='improve' type='text' value='speed' size=20><br>
    </div>
</details>
<div class='c'>
    <details>
        <summary><font color='grey'>RECORD</font></summary>
        <canvas id="chart" width="16" height="9"></canvas>
    </details>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>      
<script>
// global
var len;
var intervalSec;
var intervalMS;
var digi1;
var digit1_rate;
var correct;
var len;
var intervalSec;
var intervalMS;
var digit1;
var digit1_rate;
var digit2;
var improve;
var auto;
var correct;
var last_cleared_speed; 
var last_missed_speed; 
var auto_mode;  // step通り進むモード or 微調整モード
var auto_cnt;
var auto_miss_cnt;
var wait_sec = 3;
var allow_miss_cnt = 0;
var clear_cnt;

// ページを訪れたとき
init()
function init(){
    console.log('init')
    show_chart()

    // ユーザー設定を反映
    // get_setting()
}

function init_auto(){
    console.log('init_auto')
    // 訪問時 or OFF->ON
    auto = 1
    auto_button_style = "background-color: yellow;"
    document.getElementById("auto").style = auto_button_style

    auto_mode = 0 // 初期stepモード 失敗確定したら1:調整モードへ以降
    auto_miss_cnt = 0
    clear_cnt = 0
}

    function auto_clicked(){
    console.log('auto_clicked')
    // 反転
    if (auto == 1){ // ONからOFF
        auto = 0
        auto_button_style = "background-color: grey;"
        document.getElementById("auto").style = auto_button_style
    } else if (auto == 0){ // OFFからON
        init_auto()
    }
}

function get_setting(){
    $.getJSON('/get_setting?user_id=0', (data) => {
        var ctx = document.getElementById("chart");
    })
}

function start_clicked(){
    console.log('start_clicked')
    document.getElementById('ans').value = ""

    get_setting_from_document()

    // 直近の設定をdbに保存
    // send_setting()

    // 暗算開始
    play()
}

function get_setting_from_document(){
    len = parseInt(document.getElementById('len').value)
    digit1 = parseInt(document.getElementById('digit1').value)
    digit1_rate = parseFloat(document.getElementById('digit1_rate').value)
    intervalSec = parseFloat(document.getElementById('intervalSec').value)
    speed_step = parseFloat(document.getElementById('speed_step').value)
    improve = document.getElementById('improve').value

    intervalMS = intervalSec * 1000
    digit2 = digit1 - 1
    if (digit2==0) {digit2 = 1}
}

function set_setting_to_document(){
    console.log('set_setting_to_document')
    console.log('intervalSec', intervalSec)
    document.getElementById('len').value = len
    document.getElementById('digit1').value = digit1
    document.getElementById('digit1_rate').value = digit1_rate
    document.getElementById('intervalSec').value = intervalSec
    document.getElementById('speed_step').value = speed_step
    document.getElementById('improve').value = improve
}

function send_setting(){
    // send setting to db
    user_id = 0
    $.ajax({
        type: 'POST',
        url: '/setting',
        data: JSON.stringify ({
            user_id: user_id,
            len: len,
            intervalSec: intervalSec,
            digit1: digit1,
            digit1_rate: digit1_rate,
            auto: auto,
            improve: improve,
        }), 
        success: function(data) { },
        contentType: "application/json",
        dataType: 'json'
        });
}

function play(){
    document.getElementById('num').innerHTML = ''

    function doSomethingLoop(i, maxCount) {
        if (i <= maxCount) {
            if (i >= wait_sec){doSomething(array[i-wait_sec])}
            else {doSomething(wait_sec-i)}
            setTimeout(function(){doSomethingLoop(++i, maxCount)}, intervalMS);
        } else {
            // 終了時の処理
            at_end()
        }
    }

    function doSomething(value) {
        document.getElementById('num').innerHTML = value
    }

    function at_end() {
            // 表示
            document.getElementById('num').innerHTML = ''
            document.getElementById('ans').focus()
    }

    var array = new Array();

    for (i=0; i < len; i++) {
        tmp = Math.random()
        if (tmp <= digit1_rate){ // 桁指定
            digit = digit1
        } else {
            digit = digit2
        }
        value = 0
        for (k=digit; k>0; k--){ // 各桁の数値を出す。randomは0.0..も含まれるのでこうしないと桁数制御しづらい
            tmp = Math.ceil(Math.random()*10) - 1; // 0-9
            if (tmp==0){
                if (k==digit){ // 最上位桁
                    tmp = 1
                }
            }
            value += tmp * Math.pow(10, k-1)
        }
        array.push(value)
    }
    correct = array.reduceRight(function(a,b){return a + b;});

    doSomethingLoop(0, len-1+wait_sec)
}

// mysqlのdatetime/postgreのtimestamp型のstringへ
function Date_to_String(date){  
    y = date.getFullYear()
    month = date.getMonth() + 1
    d = date.getDate()
    h = date.getHours()
    minute = date.getMinutes()
    s = date.getSeconds()
    ms = date.getMilliseconds()
    string = y+'-'+month+'-'+d+' '+h+':'+minute+':'+s
    return string
}

document.getElementById("ans").onkeypress = (e) => {
  // 入力されたキーを取得
  const key = e.keyCode || e.charCode || 0;
  // 13はEnterキーのキーコード
  if (key == 13) {
    send_clicked(document.getElementById("ans"))
  }
}

function send_clicked(element) {
    console.log('send_clicked')
    get_result(element);
    show_result();

    if (auto == 1){
        // 結果によって難易度変更
        get_next_setting()
        set_setting_to_document()
    }
    send_result()
    show_chart()
}

function get_result(element) {
    // 回答取得
    ans = element.value
    if (ans==""){
        ans = -1
    }
    ans = parseInt(ans, 10)

    // 正誤判定
    judge_str = 'Wrong'
    is_correct = 0
    if (ans==correct){
        judge_str = 'Correct'
        is_correct = 1
    }
}

function show_result(element) {
    // 結果表示

    if (is_correct==1) {
        document.getElementById('num').innerHTML = judge_str
    }
    else if (is_correct==0&ans>=0){
        document.getElementById('num').innerHTML = judge_str+ "\n" + correct
    } else {
    }
    document.getElementById('start').focus()
}


function get_next_setting() {
    console.log('get_next_setting')
    console.log('auto_mode', auto_mode)
    // まずはspeedのみ
    // auto_modeの分岐
    // 成功/失敗の分岐
    switch (is_correct){
        case 1: // 成功
            console.log('is_correct = 1')
            after_clear()
            break;
        case 0: // 失敗
            console.log('is_correct = 0')
            after_miss()
            break;
        break;
    }
}

function after_clear(){
    clear_cnt++
    // step分だけスピードを早くする
    // 成功の最高を更新
    last_cleared_speed = intervalSec
    // miss_cntのリセット
    auto_miss_cnt = 0
    // speedを早くする
    switch (auto_mode){
        case 0:
            intervalSec = intervalSec - speed_step
            break;
        case 1:
            intervalSec = (intervalSec + last_missed_speed) / 2    
            break;
    }
}

function after_miss(){
    // miss_cntの積み上げ
    auto_miss_cnt += 1
    if (auto_miss_cnt > allow_miss_cnt){ // 2回目なら失敗確定。調整モードへ以降
        console.log('auto_miss_cnt > allow_miss_cnt')
        auto_miss_cnt = 0 // リセット
        last_missed_speed = intervalSec // 失敗の最高
        switch (auto_mode){
            case 0: // stepモード
                auto_mode = 1 // 次からは調整モード
                // speedを遅くする
                if (clear_cnt == 0){
                    // これまで1回もクリアしてない場合、last_cleared_speedはnull
                    intervalSec = intervalSec + speed_step
                } else {
                    intervalSec = (last_cleared_speed + last_missed_speed) / 2.0
                }
                break;
            case 1: // 調整モード
                // speedを遅くする
                intervalSec = (intervalSec + last_cleared_speed) / 2
                break;
        }
    }            
}

function get_next_setting_old() {
    console.log('switch (is_correct)')
    switch (is_correct){
        case 1: // 正解
            console.log('is_correct = 1')
            console.log('switch (improve)')
            switch (improve){
                case 'speed': // 速く
                    console.log('improve = speed')
                    intervalSec = intervalSec - 0.1
                    break;
                case 'digit': // 桁を多く
                    console.log('improve = digit')
                    if (digit1_rate>=1){ // すでに配分がmaxなら1桁上げる
                        digit1 = digit1 + 1
                        digit1_rate = 0.2
                    } else { // 配分を上げる
                        digit1_rate = digit1_rate + 0.1
                    }
                    break;
            }
            break;
        case 0: // 不正解
            console.log('is_correct = 0')
            console.log('switch (improve)')
            switch (improve){
                case 'speed': // スピードは保持。桁を少なく
                    console.log('improve = speed')
                    if (digit1_rate >= 0.2){ // 桁が多い数字の配分を下げる
                        digit1_rate = digit1_rate - 0.1
                    } else { // 十分配分が低い場合、桁を下げる
                        digit1 = digit1 - 1
                        digit1_rate = 1.0
                    }
                    break;
                case 'digit': // 遅く
                    console.log('improve = digit')
                    intervalSec = intervalSec + 0.1                    
                    break;
            }
            break;
    }
}

function send_result() {
    console.log('send_result')
    // dbへ送信
    user_id = 0
    date = new Date()
    t = Date_to_String(date)
    // ユーザーid, timestamp, 桁数, interval, 個数, 回答, 正答, 判定
    // flaskにjsonを渡す
    $.ajax({
    type: 'POST',
    url: '/insert',
    data: JSON.stringify ({
        user_id: user_id,
        t: t,
        digit: digit1,
        intervalSec: intervalSec,
        len: len,
        ans: ans,
        correct: correct,
        judge: is_correct,
    }),
    success: function(data) { },
    contentType: "application/json",
    dataType: 'json'
    });
}

function show_chart(){
    // 可視化
    console.log('show_chart')
    $.getJSON('/user_data', (data) => {
        var ctx = document.getElementById("chart");
        var type = 'bubble'
        var bubble_data = {
            datasets: [
                {
                data: data['correct'],
                backgroundColor: 'rgb(102, 102, 255)',
                label: 'correct'
                },
                /*
                {
                data: data['try'],
                backgroundColor: 'rgb(152, 202, 105)',
                label: 'try'
                },
                */
            ]},

        options= {
            title: {
                display: true,
                text: 'log'
            },
            scales: {
                yAxes: [{
                    scaleLabel:{
                        display: true,
                        labelString: "speed"
                    }}],
                xAxes: [{
                    scaleLabel:{
                        display: true,
                        labelString: "date"
                    }}],
            }
        }

        var myChart = new Chart(ctx, {
            type: type,
            data: bubble_data,
            options: options
        });
    })
}


//　メモ欄　ジョギング後 調子いい気がするとか
// カウントダウン　徐々に色が暗くなって没入感だせるといいかも
</script>
{% endblock %}
</html>